@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-2xl xl:text-5xl font-bold mb-6;
  }

  h2 {
    @apply text-xl xl:text-3xl mt-2 mb-4;
  }

  h3 {
    @apply text-lg mt-2 mb-2;
  }

  p {
    @apply mb-2;
  }

  a {
    @apply text-slate-600 hover:text-slate-400 underline cursor-pointer;
  }
  .noform {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  li {
    @apply ml-5 list-disc
  }

  ul {
    @apply my-2
  }

  pre {
    @apply overflow-auto lg:w-430 xl:w-800
  }
}

@keyframes color {
  0% {
    background: #3E92CC
  }

  20% {
    background: #2A628F;
  }

  40% {
    background: #13293D;
  }

  60% {
    background: #16324F;
  }

  80% {
    background: #13293D;
  }

  90% {
    background: #2A628F;
  }
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
  max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

p,
.air-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.air-h1,
h2,
.air-h2,
h3,
.air-h3,
h4,
.air-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.air-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.air-h2 {
  font-size: 2.827rem;
}

h3,
.air-h3 {
  font-size: 1.999rem;
}

h4,
.air-h4 {
  font-size: 1.414rem;
  text-align: left;
}

h5,
.air-h5 {
  font-size: 1.121rem;
}

h6,
.air-h6 {
  font-size: .88rem;
}

small,
.air-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
imgrad,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 54rem;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

body {
  color: #444;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  margin: 6rem auto 1rem;
  max-width: 54rem;
  text-align: center;
}

img[src*="#radial"] {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

img {
  width: 100%;
  max-width: 54rem;
}

a,
a:visited {
  color: #444;
}

a:hover,
a:focus,
a:active {
  color: #444;
}

blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

ul,
ol,
li {
  text-align: left;
}

p {
  color: #333;
  text-align: left;
}

#header {
    margin: auto;
    padding: 10px;
    width: auto;
    height: auto;
    border-bottom: 1px solid #d3d3d3;
    overflow: auto;
    max-width: 54rem;
}

#logo {
    font-size: 24pt;
    color: #333;
    width: 35%;
    float: left;
}

#header-right {
    float: right;
    width: 50%;
}
